* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
}

#back {
  width: 100%;
  height: 100vh;
}
#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
#workingarea {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
  height: 100vh;
}

#nav {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 50px;
}

#nav a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  font-family: "Roboto", sans-serif;
}

#hero {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 400px;
  /* background-color: red; */
  transform: translate(0%, -50%);
}
#heroleft {
  min-width: 50%;
  height: 100px;
  /* background-color: green; */
}
#heroleft .elem {
  position: relative;
  height: 10vw;
  overflow: hidden;
}
#heroleft .elem h1:nth-child(1) {
  top: 0;
}
#heroleft .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "kajiro";
  color: white;
  font-weight: 200;
  font-size: 11vw;
}

#heroright {
  min-width: 20%;
  height: 500px;
}

#heroleft button {
  pointer-events: all;
  padding: 1vw 3vw;
  font-size: 3vw;
  margin-top: 2vw;
  font-family: "kajiro";
}

#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: white;
}

#heroright p {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}

#heroright #imagediv {
  width: 100%;
  height: 170px;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#heroright p:nth-child(3) {
  margin-bottom: 50px;
}
